header {
  background-color: #2c3e50;
  color: white;
  height: 100px;
}

.mg_big_box {
  background-color: #1abc9c;
  height: 400px;
}
.mg_big_box.white {
  height: 400px;
  background-color: white;
}
